<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= pageTitle %></title>
    <!-- ############################################################################################           -->
    <!-- to make a link to our public files, combined with express.static() in app.js                           -->
    <!-- app.use(express.static(path.join(__dirname, 'public'))), so no need to put /public/css... in href      -->
    <link rel="stylesheet" href="/css/main.css">
